
/* Navigation Bar Styling */
.logo{
    margin-left: 50px;
}
#logo{
    width:29px;
    height:29px;
}

#direct-home{
    font-size: 40px;
    text-decoration: none;
    color: grey;
}

.nav-links{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: auto;
    /* background-color: red; */
}

.nav-links li{
    list-style: none;
    margin-right: 80px;
}

.nav-links a{
    color: grey;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 23px;
    height: 3px;
    background-color: grey;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #805A46;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content:flex-start;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

