*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    background-color: #FFFDD0;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #805A46;
    font-family: 'Poppins', sans-serif;
}

#logo{
    width:29px;
    height:29px;
}

#direct-home{
    font-size: 40px;
    text-decoration: none;
    color: #FDFFF5;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    /* background-color: red; */
}

.nav-links li{
    letter-spacing: none;
}
.nav-links a{
    color: #FDFFF5;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#gh-logo{
    width: 15px;
    height: 15px;
}

#gh-link{
    text-decoration: none;
    color: black;
}
