*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    background-color: #FFFDD0;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #805A46;
    font-family: 'Poppins', sans-serif;
}

#logo{
    width:29px;
    height:29px;
}

#direct-home{
    font-size: 40px;
    text-decoration: none;
    color: #FDFFF5;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    /* background-color: red; */
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #FDFFF5;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 23px;
    height: 3px;
    background-color: #FDFFF5;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #805A46;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
  
/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 0px 10px 0px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

/* Style the submit button */
.form-inline button {
    /* padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white; */

    font-size: 13px;
    outline:None;
    border: 0;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: #FDFFF5;
    color: black;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.2, 0, 0, 0.8);
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.form-inline button:hover {
    color: black;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
    box-shadow: 0 0 40px 40px #e0dfc0 inset;
}
  













.table{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}

table{
    border-collapse: collapse;
}

table td, table th {
    height: 60px;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right:0;
}

.table-content{
    width: 90%;
    text-align: center;
}

.status-button{
    font-size: 13px;
    outline:None;
    border: 0;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: #FDFFF5;
    color: black;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.2, 0, 0, 0.8);
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.status-button:hover{
    color: black;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
    box-shadow: 0 0 40px 40px #e0dfc0 inset;
}

#del-col{
    width: 0px;
}
.delete{
    font-size: 25px;
    outline:None;
    border: 0;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: #FFFDD0;
    color: grey;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.2, 0, 0, 0.8);
}

.delete:hover{
    color: black;
    font-size: 30px;
}





footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#gh-logo{
    width: 15px;
    height: 15px;
}

#gh-link{
    text-decoration: none;
    color: black;
}

